:8080 {
	handle /.well-known/matrix/client {
		header Content-Type application/json
		respond `{"m.homeserver":{"base_url":"http://imperial-construct:4000"},"org.matrix.msc3575.proxy":{"url":"http://imperial-construct:4000"}}`
	}

	handle /.well-known/matrix/server {
		header Content-Type application/json
		respond `{"m.server":"imperial-construct:4000"}`
	}

	handle /_matrix/* {
		reverse_proxy vox-loop:8008
	}

	handle /_synapse/client/sliding-sync/* {
		reverse_proxy sliding-sync:8009
	}

	handle {
		respond "Vox Loop" 200
	}
}
